.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
}

@media screen and (max-width: 400px) {
.image-grid {
    grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (min-width: 1000px) {
.image-grid {
    grid-template-columns: repeat(5, 1fr);
}
}

.image-block {
    position: relative;
    cursor: pointer;
    padding-bottom: 100%; /* To create a square aspect ratio */
    width: 100%; /* To create a square aspect ratio */
}

.image-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.image-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-block:hover .image-item {
    opacity: 0.2;
}

.image-block:hover .image-caption{
    opacity: 1;
}